<div class="container">

  <header class="page-header">
    <h1>
      Mongo Demo
    </h1>
  </header>

  <section class="row">


    <form name="f" novalidate class="col-md-12">
      <header>
        <h2>Find</h2>
      </header>

      <fg-input type="text" ng-model="request.collection" name="collection" ng-required="true" class="medium">
        <label>Collection name</label>
        <help-block>The collection name</help-block>
      </fg-input>

      <fg-input type="text" ng-model="request.query.firstName" name="firstName" class="small">
        <label>First name</label>
        <help-block>First name of the customer</help-block>
      </fg-input>

      <fg-input type="text" ng-model="request.query.lastName" name="lastName" class="small">
        <label>Last name</label>
        <help-block>Last name of the customer</help-block>
      </fg-input>


      <button class="btn btn-primary" ng-disabled="inProgress" ng-click="search()">Search</button>

      <button class="btn btn-success" ng-disabled="inProgress" ng-click="save()">Save</button>

    </form>
  </section>
  <br/>

  <div class="row fx-fade-down" ng-show="result">

    <pre class="col-md-12">{{result | json}}</pre>
  </div>


</div>